In [3]:
# hi world kya hal chal
print("Hello world")

Hello world

In [5]:
num1 =  90
num2 =  100
name =  "Rohit Kumar Gupta"
print("Hi " + name + "your got " + str(num1) + " out of " + str(num2));

Hi Rohit Kumar Guptayour got 90 out of 100

In [6]:
num1 =  90
num2 =  100.56
name =  "Rohit Kumar Gupta"
print(num1)
print(num2)
print(name)
print("Number1 : ", num1)
print(f"Number2 : {num2}")

90
100.56
Rohit Kumar Gupta
Number1 :  90
Number2 : 100.56

In [9]:
# value is assign for valiables
x,y,z = "test1","test2","test3"
print(f"{x} {y} {z}")
p = q = r = "test" 
print(f"{p} {q} {r}")

test1 test2 test3
test test test

In [13]:
# type check here
num  = 10
name = "hello world"
print(type(num))
print(type(name))

<class 'int'>
<class 'str'>

In [14]:
num1 = 90
num2 = 100


sum_result = num1 + num2
product_result = num1 * num2

print("The sum of", num1, "and", num2, "is:", sum_result)
print("The product of", num1, "and", num2, "is:", product_result)

The sum of 90 and 100 is: 190
The product of 90 and 100 is: 9000

In [16]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

sum_result = num1 + num2
product_result = num1 * num2

print("The sum of", num1, "and", num2, "is:", sum_result)
print("The product of", num1, "and", num2, "is:", product_result)

Enter the first number:  34
Enter the second number:  32

The sum of 34.0 and 32.0 is: 66.0
The product of 34.0 and 32.0 is: 1088.0

In [19]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))


sum_result = num1 ** num2

print(f"expo of {num1} {num2} is {sum_result}")

Enter the first number:  2
Enter the second number:  3

expo of 2.0 3.0 is 8.0

In [24]:
print(f"{num1} {num2}")
print("is num1 equal to num2: " , num1 == num2)
print("is num1  not equal to num2: " , num1 != num2)
print("is num1 greater than num2: " , num1 > num2)
print("is num1 greater than equal to num2: " , num1 >= num2)
print("is num1 less than num2: " , num1 < num2)
print("is num1 less than equal to num2: " , num1 <= num2)

10 10
is num1 equal to num2:  True
is num1  not equal to num2:  False
is num1 greater than num2:  False
is num1 greater than equal to num2:  True
is num1 less than num2:  False
is num1 less than equal to num2:  True

In [27]:
# increrement and decrement operater
num = 10
print("Intial value: " ,num )
num+=1
print("value after increment: " ,num )
num-=1
print("value after decrement: " ,num )

Intial value:  10
value after increment:  11
value after decrement:  10

In [35]:
email =  input("Enter your email: ")
password =  input("Enter your paswword: ")
# normal if else
if email ==  "admin@gmail.com" and password == "123": print(True)
else: print(False)
# using ternary operator 
print( email == "admin@gmail.com" and password == "123")

Enter your email:  admin@gmail.com
Enter your paswword:  1234

False
False

In [37]:
num = 10
if num > 0:
    print("Postive number")

Postive number

In [39]:
num = -10
if num > 0:
    print("Postive number")
else :
    print("negative number")

negative number

In [41]:
num = 0
if num > 0:
    print("Postive number")
elif num == 0: 
    print("zero")
else :
    print("negative number")

zero

In [47]:
num = 239871
print("Positive") if num > 0 else print("non-positive")

Positive

In [48]:
num = 10
if num > 0: 
    if num % 2 == 0: 
        print("Positive and Even Number")
    else:
        print("Positive and Odd Number")
else :
     print("Negative Number")

Positive and Even Number

In [52]:
num = 10
if num > 0:
    pass
else :
    print("this is not execuate")

In [60]:
marks = int(input("Enter your marks: "))

if marks >= 90 and marks <= 100:
    marks = "Grade A"
elif marks >= 70:
    marks = "Grade B"
elif marks >= 50:
    marks = "Grade c"
elif marks < 50:
    marks = "Fail"

print(marks)

Enter your marks:  99

Grade A

In [67]:
num = int(input("Enter the Number: "))
if num > 0: 
    if num % 2 == 0: 
        print("Positive and Even Number")
    else:
        print("Positive and Odd Number")
elif num == 0:
    print("Zero")
else :
    if num < -10: 
        print("Negative Number below -10")
    else: print("Negative Number")

Enter the Number:  8742684761

Positive and Odd Number

In [70]:
num = float(input("Enter the price: "))
if num > 500: 
    print("20% discount you got")
    num = num - num * 0.20
elif num >= 200:
    print("10% discount you got")
    num = num - num * 0.10
else :
    print("No discount")

print("Your Final Price is: ", num)

Enter the price:  454

10% discount you got
Your Final Price is:  408.6

In [71]:
count = 1
while(count <= 5):
    print(f"count: {count} ")
    count+=1

count: 1
count: 2
count: 3
count: 4
count: 5

In [73]:
for num in range(1,11):
    print(f"num: {num} ")

num: 1
num: 2
num: 3
num: 4
num: 5
num: 6
num: 7
num: 8
num: 9
num: 10

In [74]:
count = 1
while(count <= 5):
    if count == 3:
        print("Its break time")
        break
    print(f"count: {count} ")
    count+=1

count: 1
count: 2
Its break time

In [75]:
for num in range(1,11):
    if num == 3:
        print("Its break time")
        break
    print(f"num: {num} ")

num: 1
num: 2
Its break time

In [80]:
for i in range(1,6):
    for j in range(1,i+1):
        print(f"{j} ",end ="")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [119]:
num1 = int(input("Enter 1st number: "))
num2 = int(input("Enter 2nd number: "))
sumE = 0
for i in range(num1,num2+1):
    if i % 2 == 0:
        print(f"{i} ",end="")
        sumE += i
print(f"\nsum : {sumE}")

Enter 1st number:  34
Enter 2nd number:  89

34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88
sum : 1708

In [90]:
def great():
    print("great to hear you! hello world")

great()

great to hear you! hello  world

In [92]:
def great(name):
    print(f"great to hear you! hello world by {name}")

great("Rohit")

great to hear you! hello world by Rohit

In [93]:
def great(a,b):
    result = a + b
    print(f"sum of {a} and {b} is {result}")
    
great(10,20)

sum of 10 and 20 is 30

In [94]:
def great(name ="Ram"):
    print(f"great to hear you! hello world by {name}")

great("Rohit") # passing argument
great() # using default value

great to hear you! hello world by Rohit
great to hear you! hello world by Ram

In [96]:
# calling with keyword
def great(name, age, city):
    print(f"Great to hear you! hello world by {name} and your age is {age}  and from {city}")

great(age = 34, name ="Ram", city = "banglore")

Great to hear you! hello world by Ram and your age is 34  and from banglore

In [100]:
def login(email,password):
    if email == "admin@gmail.com" and password =="123":
        print(f"Hi! welcome to new world")
    else :
        print("Invalid Credentials")

email = input("Enter the email: ")
password =  input("Enter the password: ")

login(email,password)

Enter the email:  admin@gmail.com
Enter the password:  123

Hi! welcome to new world

In [106]:
# list
list = [1, 2, 3, 4]
print(list)
print(list[1])

[1, 2, 3, 4]
2

In [109]:
# list and append item
list = [1, 2, 3, 4]
print(list)
list.append(40)
print(list)

[1, 2, 3, 4]
[1, 2, 3, 4, 40]

In [113]:
# list and reverse list
list = [1, 2, 3, 4]
print(list)
list.reverse()
print(list)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [121]:
list = [3, 5, 8, 1]
print(f"Maximum in list is : {max(list)}")
print(f"sum of all element of list is : {sum(list)}")
print(f"Minimum in list is : {min(list)}")
print(list.pop())

Maximum in list is : 8

TypeError: 'int' object is not callable

In [128]:
list = ["nitish", "vishal", "Rohit", "harikash", "Paras"]

print("who is good friend in list: ",list[0:2])

who is good friend in list:  ['nitish', 'vishal']

In [125]:
# extend add list in last
list.extend(["mohit"])
print(list)

['nitish', 'vishal', 'Rohit', 'harikash', 'Paras', 'mohit']

In [129]:
# remove element from list by remove
list.remove("nitish")
print("who is good friend in list: ",list[0:2])

who is good friend in list:  ['vishal', 'Rohit']

In [130]:
print(list)

['vishal', 'Rohit', 'harikash', 'Paras']

In [133]:
todo_list = []

def add_todo(item):
    todo_list.append(item)
    print(f'"{item}" has been added to your to-do list.')

def remove_todo(item):
    if item in todo_list:
        todo_list.remove(item)
        print(f'"{item}" has been removed from your to-do list.')
    else:
        print(f'"{item}" is not in your to-do list.')


def view_todos():
    if todo_list:
        print("\nYour to-do list:")
        for idx, item in enumerate(todo_list, start=1):
            print(f"{idx}. {item}")
    else:
        print("Your to-do list is empty.")

# Main program loop
while True:
    print("\nEnter your choice:")
    print("1: Add to-do")
    print("2: Remove to-do")
    print("3: View all to-dos")
    print("4: Exit")
    
    choice = input("Enter your choice: ")
    
    if choice == '1':
        item = input("Enter the to-do item: ")
        add_todo(item)
    elif choice == '2':
        item = input("Enter the to-do item to remove: ")
        remove_todo(item)
    elif choice == '3':
        view_todos()
    elif choice == '4':
        print("Exiting the program. Goodbye!")
        break
    else:
        print("Invalid choice. Please enter a number between 1 and 4.")

Enter your choice:
1: Add to-do
2: Remove to-do
3: View all to-dos
4: Exit

Enter your choice:  1
Enter the to-do item:  hello world

"hello world" has been added to your to-do list.

Enter your choice:
1: Add to-do
2: Remove to-do
3: View all to-dos
4: Exit

Enter your choice:  3

Your to-do list:
1. hello world

Enter your choice:
1: Add to-do
2: Remove to-do
3: View all to-dos
4: Exit

Enter your choice:  4

Exiting the program. Goodbye!

In [135]:
fruits = ("mango","apple")
print(fruits)

('mango', 'apple')

In [137]:
#Dictionary
 
employee = {
    "eid" : 1001,
    "name" : "John doe",
    "dept" : "CSE(AIML)",
    "salary" : 1000000
}
 
print(employee)
print("Employee name:", employee['eid'])

{'eid': 1001, 'name': 'John doe', 'dept': 'CSE(AIML)', 'salary': 1000000}
Employee name: 1001

In [138]:
print("Manager:" , employee.get('manager')) 
print("Manager:" , employee.get('manager', "Nisarga and Manushree"))

Manager: None
Manager: Nisarga and Manushree

In [140]:
data=employee.popitem()
print(data, 'removed')
print(employee)

('dept', 'CSE(AIML)') removed
{'eid': 1001, 'name': 'John doe'}

In [142]:
data=employee.pop('eid')
print(data, 'removed')
print(employee)

1001 removed
{'name': 'John doe'}

In [144]:
#Dictionary
 
employee2 = {
    "eid" : 1006,
    "name" : "Rhoit",
    "dept" : "IT",
    "salary" : 100000067
}
 
print(employee2)
# print("Employee name:", employee['eid'])

{'eid': 1006, 'name': 'Rhoit', 'dept': 'IT', 'salary': 100000067}

In [147]:
student = {
    "id" : "101", 
    "name" : "Rhoit",
    "email" : "Rhoit@gmail.com",
    "address" : "us"
}
print(student)

{'id': '101', 'name': 'Rhoit', 'email': 'Rhoit@gmail.com', 'address': 'us'}

In [148]:
print(student.items())

dict_items([('id', '101'), ('name', 'Rhoit'), ('email', 'Rhoit@gmail.com'), ('address', 'us')])

In [149]:
for key, value in student.items():
    print(key,":",value)

id : 101
name : Rhoit
email : Rhoit@gmail.com
address : us

In [150]:
if "address" in student:
    print("address is present in student object")

address is present in student object

In [156]:
## SET
a = {1,2,8,3,4,5}
b = {3,4,5,6,7}

#union
print(a|b)
print(a.union(b))

#intersection
print(a&b)

# difference
print(a - b)

#symmetric difference  (unoin - intersection) 
print(a^b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}
{8, 1, 2}
{1, 2, 6, 7, 8}

In [173]:
company = [
    {
        "name" : "Ram",
        "salary" : 365426
    },
    {
        "name" : "Raman",
        "salary" : 3654263213
    },
    {
        "name" : "Shayam",
        "salary" : 365
    }
]


def add_employee(name,salary):
    company.append(
        {
        "name" : name,
        "salary" : salary
        }
    )
        
add_employee("rohit",7216)

def update_employee(name, new_salary):
    for employee in company:
        if employee["name"] == name:
            employee["salary"] = new_salary
            print(f'Employee "{name}"\'s salary has been updated to {new_salary}.')
            return
    print(f'Employee "{name}" not found.')
    
update_employee("Raman", 5000000)

def remove_employee(name):
    for employee in company:
        if employee["name"] == name:
            company.remove(employee)
            print(f'Employee "{name}" has been removed from the company list.')
            return
    print(f'Employee "{name}" not found.')
    
remove_employee("Shayam")

print(company)

Employee "Raman"'s salary has been updated to 5000000.
Employee "Shayam" has been removed from the company list.
[{'name': 'Ram', 'salary': 365426}, {'name': 'Raman', 'salary': 5000000}, {'name': 'rohit', 'salary': 7216}]